* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Montserrat', sans-serif;
    background: url(../img/bk-site.png) no-repeat center / cover;
    font-size: 18px;
    line-height: 120%;
}
.container{
    max-width: 1410px;
    width: 100%;
    margin: auto;
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url(../font/Gilroy-Bold.ttf);
}
@font-face {
    font-family: "Gilroy-Reg";
    src: url(../font/Gilroy-Regular.ttf);
}
h1{
    font-family: "Gilroy-Bold";   
}
span{
    font-weight: bold;
}
.header{
    max-width: 1500px;
    width: 100%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 18px;
}
.block__header{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FF9900;
    margin-bottom: 18px;
}
.header__info{
    font-size: 18px;
    line-height: 120%;
    position: relative;
    padding-left: 60px;
}
.header__info::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: -60px;
}
.map {
    padding-right: 4px;
    border-right: 1px solid rgba(255, 153, 0, 0.5);
}
.map::before{
    content: '';
    position: absolute;
    background: url(../img/placeholder.svg) no-repeat center;
}
.delivery {
    padding-right: 36px;
    border-right: 1px solid rgba(255, 153, 0, 0.5);
}
.delivery::before{
    content: '';
    position: absolute;
    background: url(../img/fast-delivery.svg) no-repeat center;
}
.kazan{
    padding-right: 36px;
    border-right: 1px solid rgba(255, 153, 0, 0.5);
}
.kazan::before{
    content: '';
    position: absolute;
    background: url(../img/24-hours.svg) no-repeat center;
}
.contact { 
    padding-left: 60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    position: relative;
}
.contact::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 50px;
    margin-top: -10px;
    margin-left: -60px;
}
.phone::before{
    content: '';
    position: absolute;
    background: url(../img/eva_phone-call-fill.svg) no-repeat center;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    text-decoration: none;
    line-height: 150%;
    color: #000000;
}
.link:hover{
    color: #FF9900;
    text-shadow: 0px 0px 5px #FF9900;
    transition: 0.5s;
}
.nav__link{
    font-size: 18px;
    z-index: 5;
}
.catalog{
    background: url(../img/expand.svg) no-repeat right;
    padding-right: 15px;
}
.afg{
    background: url(../img/cauldron.svg) no-repeat left;
    padding-left: 24px;
}
.button__li{
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 4px 57px 4px 14px;
    background: url(../img/shopping-cart.svg) no-repeat 86% / 25px;
    background-color: #FF9900;
    border-radius: 10px;
    position: relative;
}
.button__li::before{
    content: '1';
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
    margin-left: 126px;
    margin-top: -18px;
    background-color: #000000;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    z-index: 20;
}




.hero{
    background: url(../img/hero-bg.png) no-repeat center / cover;
    padding-top: 80px;
    padding-bottom: 60px;
}
.hero::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 303px;
    top: 0;
    left: 0;
    margin-top: 133px;
    background: url(../img/meat.png) no-repeat right / 235px ;
    background-blend-mode: darken;
}
.hero::after{
    content: '';
    position: absolute;
    width: 182px;
    height: 960px;
    top: 0;
    right: 0;
    background: 
        url(../img/tomato.png) no-repeat top right,
        url(../img/rosemary.png) no-repeat bottom;
    background-blend-mode: darken;
}
.hero__block::after{
    content: '';
    position: absolute;
    width: 390px;
    height: 292px;
    top: 0;
    right: 0;
    margin-top: 140px;
    margin-right: -185px;
    background: url(../img/peper.png) no-repeat right;
    background-blend-mode: darken;
}
.hero__title {
    max-width: 893px;
    font-weight: bold;
    font-size: 72px;
    line-height: 120%;
    color: #392219;
    margin-bottom: 50px;
    position: relative;
}
.hero__title::after{
    content: '';
    position: absolute;
    width: 760px;
    height: 820px;
    top: 0;
    left: 0;
    margin-left: 780px;
    margin-top: -155px;
    background-blend-mode: darken;
    background: url(../img/kazan.png) no-repeat;
    z-index: 2;
}
.hero__title::before{
    content: '';
    position: absolute;
    width: 760px;
    height: 820px;
    top: 0;
    left: 0;
    margin-left: 780px;
    margin-top: -155px;
    background-blend-mode: darken;
    background: 
        url(../img/steam.png) no-repeat center 110%,
        url(../img/steam-2.png) no-repeat 110%;
    z-index: 4;
}
.hero__span{
    font-size: 80px;
    color: #FF9900;
    text-shadow: 4px -4px 0px #392219;
}
.hero__description {
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 14px;
}
.hero__promise{
    font-size: 20px;
    line-height: 150%;
    background-color: #FFFFFF;
    padding: 18px 20px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 10px;
}
.hero__block{
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}
.title__surprise{
    max-width: 590px;
    color: #D39254;
    background: url(../img/gift-box.svg) no-repeat right;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    line-height: 150%;
}
.offers{
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
    margin-left: 20px;
}
.offer{
    font-size: 24px;
    line-height: 150%;
    max-width: 340px;
}
.book-cook{
    padding-left: 130px;
    background: url(../img/open-book.svg) no-repeat left;
}
.discount{
    padding-left: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: url(../img/discount.svg) no-repeat left;
}
.button{
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    background: #FF4D00;
    padding: 10px 20px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 76, 0, 0.8);
    border-radius: 30px;
    position: relative;
}
.button:hover{
    box-shadow: none;
    transition: 0.7s;
}
.button--primary::after{
    content: '';
    position: absolute;
    width: 97%;
    height: 76%;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    left: 0;
    top: 0;
    margin-top: 5px;
    margin-left: 5px;
}
.button--bor::after{
    content: '';
    position: absolute;
    width: 94.6%;
    height: 76%;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    left: 0;
    top: 0;
    margin-top: 4.5px;
    margin-left: 5px;
}
.card__but{
    margin-top: 43px;
}
.out__button{
    margin-right: 60px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.hero__link{
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #FF9900;
}
.hero__link:hover{
    color: #CD823B;
}



.bl__fun{
    background: #FFFFFF;
    padding-top: 29px;
    padding-bottom: 32px;
    margin-bottom: 29px;
}
.bl__out{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.function{
    font-size: 24px;
    line-height: 120%;
    position: relative;
    padding-top: 110px;
}
.function::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #FF9900;
    border-radius: 50px;
    margin-top: -110px;
    margin-left: 80px;
}
.pay::before{
    background: url(../img/payment-method.svg) no-repeat center;
}
.kaz::before{
    background: url(../img/cauldron-out.svg) no-repeat center;
}
.stock::before{
    background: url(../img/discount-out.svg) no-repeat center;
}
.comment::before{
    background: url(../img/comment.svg) no-repeat center;
}


.feedback{
    background: url(../img/hero-bg.png) no-repeat center / cover, linear-gradient(to top ,#fff,#fff);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
}
.feedback::after{
    content: '';
    position: absolute;
    width: 290px;
    height: 242px;
    top: 0;
    right: 0;
    margin-top: 613px;
    background: url(../img/tomato-special.png) no-repeat left;
    background-blend-mode: darken;
}
.bl__title{
    max-width: 660px;
    position: relative;
    margin-left: 250px;
}
.bl__title::after{
    content: 'Потому что мы официальный дилер казанов и оказываем лучший сервис в  Беларуси';
    position: absolute;
    width: 955px;
    top: 0;
    margin-top: 140px;
    margin-left: 200px;
}
.text__part{
    font-size: 48px;
    line-height: 120%;
}
.desc__out{
    line-height: 120%;
    position: absolute;
    bottom: 0;
    top: 0;
    margin-left: 200px;
    margin-top: -5px;
}
.comment__desc{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
}
.bl__manager{
    margin-bottom: 70px;
    display: flex;
    max-width: 240px;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 10;
}
.bl__manager::before{
    content: '';
    position: absolute;
    width: 496px;
    height: 745px;
    background: url(../img/alex.png) no-repeat center;
    margin-top: -538px;
    margin-right: -85px;
    z-index: -1;
}
.manager{
    padding: 9px 71px;
    max-width: 213px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 5px;
}
.manager__position{
    padding: 9px 12px;
    max-width: 240px;
    width: 100%;
    font-size: 15.8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.bl__feedback{
    max-width: 1090px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card__feedback{
    max-width: 330px;
    width: 100%;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0px 18px;
    padding-top: 23px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.title__cd{
    font-size: 18px;
    padding-left: 70px;
    position: relative;
}
.title__cd::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FF9900;
    border-radius: 50px;
    margin-left: -70px;
}
.guar::before{
    background: url(../img/guarantee.svg) no-repeat center, linear-gradient(to top, #FF9900, #FF9900);
}
.indus::before{
    background: url(../img/industry.svg) no-repeat center, linear-gradient(to top, #FF9900, #FF9900);
}
.caul::before{
    background: url(../img/cauldron-bl.svg) no-repeat center, linear-gradient(to top, #FF9900, #FF9900);
}
.fast::before{
    background: url(../img/fast-delivery-bl.svg) no-repeat center, linear-gradient(to top, #FF9900, #FF9900);
}
.cred::before{
    background: url(../img/credit-cards-payment-bl.svg) no-repeat center, linear-gradient(to top, #FF9900, #FF9900);
}
.disc__bl::before{
    background: url(../img/discount-bl.svg) no-repeat center, linear-gradient(to top, #FF9900, #FF9900);
}
.desc__card{
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 10px;
    text-align: center;
}
.link__card{
    font-weight: normal;
    margin: auto;
    font-size: 18px;
    line-height: 120%;
}

.discount__section{
    background-color: #FF9900;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.bl__event{ 
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


.section__instalment{
    background: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 33px;
    position: relative;
}
.section__instalment::before{
    content: '';
    position: absolute;
    width: 280px;
    height: 204px;
    top: 0;
    left: 0;
    margin-top: 68px;
    background: url(../img/cash.png) no-repeat right;
    background-blend-mode: darken;
}
.section__instalment::after{
    content: '';
    position: absolute;
    width: 203px;
    height: 262px;
    top: 0;
    right: 0;
    margin-top: -27px;
    background: url(../img/kaz-1.png) no-repeat left;
    background-blend-mode: darken;
}
.bl__col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title__inst{
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    position: relative;
    background: url(../img/discount.svg) no-repeat left / 25px;
}
.bl__cards{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p__card{
    font-size: 20px;
    line-height: 150%;
}
.b{
    font-weight: bold;
}



.section__recipe{
    background: url(../img/bg__recipe.png) no-repeat center / cover;
    padding-top: 30px;
    padding-bottom: 191px;
    color: #fff;
    margin-bottom: 80px;
}
.title{
    font-size: 48px;
    line-height: 120%;
}
.th{
    line-height: 150%;
}
.title__recipe{
    text-align: center;
    margin-bottom: 20px;
}
.quantity__recipe{
    align-items: center;
    display: flex;
    font-size: 36px;
    line-height: 150%;
    max-width: 450px;
    padding: 13px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}
.quan{
    font-size: 48px;
    line-height: 150%;
    margin-right: 50px;
}
.recipe__desc{
    max-width: 805px;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin-top: 30px;
}


.section__present{
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
}
.section__present::before{
    content: '';
    position: absolute;
    width: 242px;
    height: 368px;
    top: 0;
    left: 0;
    margin-top: 133px;
    background: url(../img/basil.png) no-repeat right;
    background-blend-mode: darken;
}
.section__present::after{
    content: '';
    position: absolute;
    width: 208px;
    height: 303px;
    top: 0;
    right: 0;
    background: 
        url(../img/basil-purp.png) no-repeat top right;
    background-blend-mode: darken;
}
.text__present{
    font-size: 24px;
    max-width: 667px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 150%;
}
.forms{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 150%;
}
.inp{
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 150%;
}
.name{
    max-width: 330px;
    width: 100%;
}
.tel{
    max-width: 450px;
    width: 100%;
}
.email{
    max-width: 570px;
    width: 100%;
}
.button--submit{
    max-width: 575px;
    width: 100%;
    margin-top: 50px;
}
.button--submit::after{
    content: '';
    position: absolute;
    width: 97%;
    height: 76%;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    left: 0;
    top: 0;
    margin-top: 5px;
    margin-left: 8px;
}


.work__section{
    margin-top: 50px;
    margin-bottom: 103px;
}
.desc{
    font-size: 24px;
}
.desc__up{
    margin-top: 20px;
}
.bl__work{
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img__cd{
    padding-top: 160px;
    position: relative;
    text-align: center;
    max-width: 288px;
}
.img__cd::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid #FF9900;
    border-radius: 100px;
    top: 0;
    left: 0;
    margin-left: 20%;
}
.cd__1::before{
    background: url(../img/cd__1.png) no-repeat center;
}
.cd__2::before{
    background: url(../img/cd__2.png) no-repeat center;
}
.cd__3::before{
    background: url(../img/cd__3.png) no-repeat center;
}
.cd__4::before{
    background: url(../img/cd__4.png) no-repeat center;
}
.card__title{
    font-size: 18px;
    line-height: 150%;
}
.arrow{
    margin-top: 50px;
}


.afg__section{
    background-color: #fff;
    padding-top: 97px;
    padding-bottom: 162px;
    position: relative;
}
.afg__section::after{
    content: '';
    position: absolute;
    width: 309px;
    height: 390px;
    top: 0;
    right: 0;
    background: url(../img/spice.png) no-repeat right;
    margin-top: 27px;
}
.afg__section::before{
    content: '';
    position: absolute;
    width: 268px;
    height: 311px;
    top: 0;
    left: 0;
    background: url(../img/meat.png) no-repeat right / 300px;
    margin-top: 27px;
}
.bl__end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bl__afg{
    max-width: 750px;
    width: 100%;
    position: relative;
}
.bl__afg::before{
    content: '';
    position: absolute;
    width: 550px;
    height: 450px;
    background: url(../img/tomato-2.png) no-repeat 40% 80%,
                url(../img/pot-3.png) no-repeat left top,
                url(../img/pot-2.png) no-repeat 82% 66%,
                url(../img/pepper-2.png) no-repeat 64% top ,
                url(../img/basil-2.png) no-repeat bottom left,
                url(../img/basil-purp-2.png) no-repeat bottom right;
    margin-left: -500px;
}
.desc__afg{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 40px;
    position: relative;
}
.desc__afg::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    background: url(../img/discount-out-white.png) no-repeat center / 20px;
    background-color: #FF9900;
    border-radius: 50px;
    margin-top: -1.5px;
}
.link__afg{
    font-size: 24px;
    line-height: 120%;
    font-weight: normal;
    margin-left: 90px;
}


.section__call{
    background: url(../img/map.png) no-repeat center / cover;
    padding: 200px 0px;
}
.bl__call{
    align-items: flex-start;
}
.bl__sect{
    max-width: 600px;
    width: 100%;
}
.bl__tur{
    max-width: 400px;
    width: 100%;
    padding-left: 30px;
    position: relative;
}
.bl__tur::before{
    content: '';
    position: absolute;
    background-color: #FF9900;
    height: 170px;
    width: 1px;
    margin-top: 36px;
    margin-left: -30px;
}
.bl__rom{
    margin-top: 20px;
}
.call{
    max-width: 1170px;
    width: 100%;  
}
.call__bg{
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 79px 32px 30px;
}
.cont__us{
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sect__title{
    font-size: 24px;
    line-height: 150%; 
}
.con__1,.con__2,.con__3{
    padding-top: 60px;
    text-align: center;
    position: relative;
}
.con__1::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../img/eva_phone-call-fill.svg) no-repeat center;
    margin-top: -60px;
    margin-left: 30%;
}
.con__2::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../img/placeholder.svg) no-repeat center;
    margin-top: -60px;
    margin-left: 25%;
}
.con__3::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../img/24-hours.svg
    ) no-repeat center;
    margin-top: -60px;
    margin-left: 8%;
}
.bl__mess{
    max-width: 970px;
    width: 100%;
}
.facebook,.instagram,.telegram,.mail{
 padding-left: 40px;
 position: relative;
}
.facebook::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../img/facebook.svg) no-repeat center;
    margin-left: -40px;
    margin-top: -5px;
}
.mail::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../img/email.svg) no-repeat center;
    margin-left: -40px;
    margin-top: -5px;
}
.instagram::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../img/instagram.svg) no-repeat center;
    margin-left: -40px;
    margin-top: -5px;
}
.telegram::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50px;
    background: url(../img/telegram.svg) no-repeat center;
    margin-left: -40px;
    margin-top: -5px;
}


.footer{
    background: #FFFFFF;
    padding: 25px 0px;
}
.bl__footer{
    display: flex;
    align-items: center;
}
.text__rule{
    font-size: 10px;
    line-height: 150%;
    color: #000000;
    max-width: 200px;
    margin-left: 5px;
}
.nav__footer{
    max-width: 445px;
    width: 100%;
}
.link__foot{
    font-size: 14px;
}



@media (max-width: 1820px) {
    .hero::before,.hero::after,.section__instalment::after,.section__instalment::before,.feedback::after,.section__present::before,.section__present::after,.afg__section::after,.afg__section::before,.hero__block::after{
        display: none;
    }
}
@media (max-width: 1680px) {
    .hero__title::after,.hero__title::before{
        display: none;
    }
}
@media (max-width: 1540px) {
    .comment__desc{
        padding-top: 100px;
    }
    .bl__title::after{
        margin: 0;
        max-width: 450px;
        margin-top: 180px;
    }
    
}